---
import PageHeader from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";
const {
  title = "Job Linker Site",
  description = "Unlock your dream career with joblinker.site! Browse diverse job listings for engineers, software designers, managers & more. Your next step starts here!",
  ogType = "website",
  ogUrl = "https://joblinker.site",
  ogImage = "/public/logo.png",
  twitterCard = "summary_large_image",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content={twitterCard} />
    <meta property="twitter:url" content={ogUrl} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage} />
  </head>
  <body>
    <PageHeader />
    <slot />
    <PageFooter />
  </body>
</html>
<style is:global lang="scss">
@import '../assets/css/styles.scss';
</style>
